@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;
    font-family:'Racing Sans One';
    background-color: grey;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    padding:1rem;
}
h2 {
    font-size: 2rem;
    padding:1rem;
    text-decoration: underline;


}
h3 {
    font-size: 1.4rem;
    padding:1.5rem;

}
.container {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:1.5rem;
}


.btn {
    font-size: 1.9rem;
    padding: 1rem 0;
    width: .1rem;
    text-align: center;
    border: .1rem solid black;
    margin-bottom: 1rem;
    text-decoration: none;
    color: red;
    background-color: black;
}



