@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: large;
    font-family:'Racing Sans One';
    background-color: grey;
}

h1 {
    font-size: 6rem;
    font-weight: bold;
    
}
h2 {
    font-size: 2rem;


}
h3 {
    font-size: 1rem;

}